[flake8]
per-file-ignores =
  schema_design/tools/populate_person.py: WPS316, WPS323, S311
  # Allow `__init__.py` with logic for configuration:
  movies_admin/settings/*.py: WPS226, WPS407, WPS412, WPS432
  # Found upper-case constant in a class - Для choise'ов
  movies_admin/apps/*/models.py: WPS115
  # 
  movies_admin/apps/*/admin.py: WPS226
  #
  sqlite_to_postgres/settings.py: WPS407
  #
  sqlite_to_postgres/carrier.py: WPS457
  #
  sqlite_to_postgres/reader.py: DAR202
  #
  sqlite_to_postgres/writer.py: DAR202
  #
  sqlite_to_postgres/tools/select_table.py: WPS421
  #
  sqlite_to_postgres/models.py: D105, WPS358

# Excluding some directories:
exclude = .git,__pycache__,venv,.eggs,*.egg,manage.py,movies_admin/*/migrations/*.py

# Disable some pydocstyle checks:
ignore = D100, D104, D106, D401, X100, W504, RST303, RST304, DAR103, DAR203, WPS306, WPS431, WPS316, WPS305