[flake8]
per-file-ignores =
  schema_design/tools/populate_person.py: WPS316, WPS323, S311
  # Allow `__init__.py` with logic for configuration:
  movies_admin/settings/*.py: WPS226, WPS407, WPS412, WPS432
  # Found upper-case constant in a class - Для choise'ов
  movies_admin/apps/*/models.py: WPS115
  # 
  movies_admin/apps/*/admin.py: WPS226
  #
  sqlite_to_postgres/settings/settings.py: WPS407, WPS226
  #
  sqlite_to_postgres/copier/copier.py: WPS457
  #
  sqlite_to_postgres/copier/reader.py: DAR202, WPS214, RST301, WPS112, WPS332, S608
  #
  sqlite_to_postgres/copier/writer.py: DAR202, WPS112, WPS462
  #
  sqlite_to_postgres/tools/select_table.py: WPS421, WPS462, WPS210
  #
  sqlite_to_postgres/db/models.py: D105, D105
  #
  sqlite_to_postgres/settings/conf_writers.py: WPS462, WPS227, WPS226, WPS336

# Excluding some directories:
exclude = .git,__pycache__,venv,.eggs,*.egg,manage.py,movies_admin/*/migrations/*.py,sqlite_to_postgres/tests/*.py

# Disable some pydocstyle checks:
ignore = D100, D104, D106, D401, X100, W504, RST303, RST304, DAR103, DAR203, WPS306, WPS431, WPS316, WPS305