# schema_design
faker==13.15
psycopg2-binary==2.9.3


# movies_admin
django==3.2
django-split-settings==1.1
python-dotenv==0.20.0


# sqlite_to_postgres


# Workflow
bandit==1.7.4
flake8==4.0
flake8-bandit==3.0.0
pre-commit==2.20
wemake-python-styleguide==0.16.1
django-debug-toolbar==3.4.0
